{% if source == 'search' %}
  <div class="empty-card">
    {% render 'svg-icons'
      , icon: 'no-result' %}
    <div class="empty-card-content">
      <h5 class="h5 heading-font empty-card-heading">No result found</h5>
      <p class="empty-card-desc">Check the spelling or use a different word or phrase.</p>
    </div>
  </div>
{% endif %}
{% if source == 'collection' %}
  <div class="empty-card">
    {% render 'svg-icons'
      , icon: 'no-result' %}
    <div class="empty-card-content">
      <h5 class="h5 heading-font empty-card-heading">No products match those filters.</h5>
      <p class="empty-card-desc">Use fewer filters or
        <a class="clear-filter-button text-underline" href="{{ collection.url }}">Clear all</a>
      </p>
    </div>
  </div>
{% endif %}
{% if source == 'cart' %}
  <div class="empty-card">
    <svg
      width="60"
      height="60"
      viewBox="0 0 60 60"
      fill="none">
      <path d="M52.4998 16.8749H51.3936L36.9561 2.41861C36.7813 2.24379 36.5737 2.10511 36.3453 2.0105C36.1169 1.91588 35.8721 1.86719 35.6248 1.86719C35.1255 1.86719 34.6466 2.06554 34.2936 2.41861C33.9405 2.77168 33.7422 3.25054 33.7422 3.74986C33.7422 4.24917 33.9405 4.72804 34.2936 5.08111L46.1061 16.8749H17.6436L29.4561 5.08111C29.8091 4.72804 30.0075 4.24917 30.0075 3.74986C30.0075 3.25054 29.8091 2.77168 29.4561 2.41861C29.103 2.06554 28.6241 1.86719 28.1248 1.86719C27.6255 1.86719 27.1466 2.06554 26.7936 2.41861L12.3561 16.8749H11.2498C9.93069 16.8851 8.65711 17.3586 7.65172 18.2127C6.64633 19.0668 5.9731 20.247 5.74971 21.5472C5.52632 22.8473 5.76698 24.1846 6.42963 25.3252C7.09228 26.4659 8.13476 27.3374 9.37483 27.7874V46.8749C9.37483 48.864 10.165 50.7716 11.5715 52.1782C12.9781 53.5847 14.8857 54.3749 16.8748 54.3749H46.8748C48.864 54.3749 50.7716 53.5847 52.1781 52.1782C53.5847 50.7716 54.3748 48.864 54.3748 46.8749V27.7874C55.6149 27.3374 56.6574 26.4659 57.32 25.3252C57.9827 24.1846 58.2233 22.8473 58 21.5472C57.7766 20.247 57.1033 19.0668 56.0979 18.2127C55.0926 17.3586 53.819 16.8851 52.4998 16.8749ZM50.6248 46.8749C50.6248 47.8694 50.2297 48.8232 49.5265 49.5265C48.8232 50.2298 47.8694 50.6249 46.8748 50.6249H16.8748C15.8803 50.6249 14.9264 50.2298 14.2232 49.5265C13.5199 48.8232 13.1248 47.8694 13.1248 46.8749V28.1249H50.6248V46.8749ZM52.4998 24.3749H11.2498C10.7525 24.3749 10.2756 24.1773 9.924 23.8257C9.57237 23.4741 9.37483 22.9971 9.37483 22.4999C9.37483 22.0026 9.57237 21.5257 9.924 21.174C10.2756 20.8224 10.7525 20.6249 11.2498 20.6249H52.4998C52.9971 20.6249 53.474 20.8224 53.8257 21.174C54.1773 21.5257 54.3748 22.0026 54.3748 22.4999C54.3748 22.9971 54.1773 23.4741 53.8257 23.8257C53.474 24.1773 52.9971 24.3749 52.4998 24.3749Z" fill="currentColor" />
      <path d="M25.8564 44.4561C26.0307 44.6318 26.2381 44.7713 26.4665 44.8665C26.695 44.9617 26.9401 45.0107 27.1876 45.0107C27.4352 45.0107 27.6802 44.9617 27.9087 44.8665C28.1372 44.7713 28.3446 44.6318 28.5189 44.4561L31.8751 41.0811L35.2314 44.4561C35.4057 44.6318 35.6131 44.7713 35.8415 44.8665C36.07 44.9617 36.3151 45.0107 36.5626 45.0107C36.8102 45.0107 37.0552 44.9617 37.2837 44.8665C37.5122 44.7713 37.7196 44.6318 37.8939 44.4561C38.0696 44.2818 38.2091 44.0744 38.3043 43.8459C38.3995 43.6175 38.4485 43.3724 38.4485 43.1249C38.4485 42.8773 38.3995 42.6323 38.3043 42.4038C38.2091 42.1753 38.0696 41.9679 37.8939 41.7936L34.5189 38.4374L37.8939 35.0811C38.2469 34.728 38.4453 34.2492 38.4453 33.7499C38.4453 33.2505 38.2469 32.7717 37.8939 32.4186C37.5408 32.0655 37.0619 31.8672 36.5626 31.8672C36.0633 31.8672 35.5845 32.0655 35.2314 32.4186L31.8751 35.7936L28.5189 32.4186C28.3441 32.2438 28.1365 32.1051 27.9081 32.0105C27.6797 31.9159 27.4349 31.8672 27.1876 31.8672C26.9404 31.8672 26.6956 31.9159 26.4672 32.0105C26.2387 32.1051 26.0312 32.2438 25.8564 32.4186C25.6816 32.5934 25.5429 32.801 25.4483 33.0294C25.3537 33.2578 25.305 33.5026 25.305 33.7499C25.305 33.9971 25.3537 34.2419 25.4483 34.4703C25.5429 34.6987 25.6816 34.9063 25.8564 35.0811L29.2314 38.4374L25.8564 41.7936C25.6806 41.9679 25.5412 42.1753 25.446 42.4038C25.3508 42.6323 25.3018 42.8773 25.3018 43.1249C25.3018 43.3724 25.3508 43.6175 25.446 43.8459C25.5412 44.0744 25.6806 44.2818 25.8564 44.4561Z" fill="currentColor" />
    </svg>
    <div class="empty-card-content">
      {% if empty_cart_heading != blank %}
        <h5 class="h5 heading-font empty-card-heading">{{ empty_cart_heading }}</h5>
      {% endif %}
      {% if empty_cart_description %}
        <p class="empty-card-desc">{{ empty_cart_description }}</p>
      {% endif %}
      {% if settings.empty_cart_button_text != blank and settings.empty_cart_button_link != blank %}
        {% render 'button-wrapper'
          ,
 button_style: settings.empty_cart_button_style
          ,
 button_text: settings.empty_cart_button_text
          ,
 button_link: settings.empty_cart_button_link
          ,
 button_size: settings.empty_cart_button_size
        %}
      {% endif %}
    </div>
  </div>
{% endif %}