<button
  class="hamburger-toggler header-category-menus"
  aria-label="Toggle menu"
  data-hamburger-toggler>
  <div class="hamburger-toggler-icon">
    <span class="line line-1"></span>
    <span class="line line-2"></span>
  </div>
</button>