{% comment %}
  Reima Static Navigation
  Static navigation tabs with Reima-style mega menu dropdowns

  This creates a navigation similar to Reima.com with:
  - Final Sale, Outerwear, Shoes, Base & Midlayers, Skiwear, etc.
  - Each tab links to a collection and has a dropdown with subcategories
{% endcomment %}

{% comment %} Define navigation structure statically {% endcomment %}
{% assign nav_items = "final-sale|Outerwear|Shoes|Base & Midlayers|Skiwear|Rainwear|Everyday|Accessories|Babies|Sale" | split: "|" %}

<nav class="reima-static-navigation" aria-label="Main navigation">
  <ul class="reima-static-nav-list">
    {% comment %} ====== FINAL SALE TAB ====== {% endcomment %}
    <li class="reima-static-nav-item reima-sale-item" data-menu-item>
      <a href="/collections/sale" class="reima-static-nav-link">
        <span class="sale-text">Final Sale up to -50%</span>
      </a>
      <div class="reima-static-dropdown" data-dropdown>
        <div class="reima-static-dropdown-inner">
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/sale">SHOP BY CATEGORY</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/sale?filter.p.product_type=Jackets">Jackets</a></li>
              <li><a href="/collections/sale?filter.p.product_type=Pants">Pants</a></li>
              <li><a href="/collections/sale?filter.p.product_type=Fleece">Fleece</a></li>
              <li><a href="/collections/sale?filter.p.product_type=Accessories">Accessories</a></li>
            </ul>
            <a href="/collections/sale" class="reima-see-all">See All Sale Items</a>
          </div>
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/sale">SHOP BY SIZE</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/sale?filter.v.option.size=0-12M">0-12 Months</a></li>
              <li><a href="/collections/sale?filter.v.option.size=1-2Y">1-2 Years</a></li>
              <li><a href="/collections/sale?filter.v.option.size=3-6Y">3-6 Years</a></li>
              <li><a href="/collections/sale?filter.v.option.size=7-14Y">7-14 Years</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    {% comment %} ====== OUTERWEAR TAB ====== {% endcomment %}
    <li class="reima-static-nav-item" data-menu-item>
      <a href="/collections/outerwear" class="reima-static-nav-link">Outerwear</a>
      <div class="reima-static-dropdown" data-dropdown>
        <div class="reima-static-dropdown-inner">
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/jackets">JACKETS</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/winter-jackets">Winter Jackets</a></li>
              <li><a href="/collections/spring-jackets">Spring Jackets</a></li>
              <li><a href="/collections/rain-jackets">Rain Jackets</a></li>
              <li><a href="/collections/fleece-jackets">Fleece Jackets</a></li>
            </ul>
            <a href="/collections/jackets" class="reima-see-all">See All Jackets</a>
          </div>
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/pants">PANTS</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/snow-pants">Snow Pants</a></li>
              <li><a href="/collections/rain-pants">Rain Pants</a></li>
              <li><a href="/collections/softshell-pants">Softshell Pants</a></li>
            </ul>
            <a href="/collections/pants" class="reima-see-all">See All Pants</a>
          </div>
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/snowsuits">SNOWSUITS</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/one-piece-snowsuits">One-Piece</a></li>
              <li><a href="/collections/two-piece-snowsuits">Two-Piece Sets</a></li>
            </ul>
            <a href="/collections/snowsuits" class="reima-see-all">See All Snowsuits</a>
          </div>
        </div>
      </div>
    </li>

    {% comment %} ====== SHOES TAB ====== {% endcomment %}
    <li class="reima-static-nav-item" data-menu-item>
      <a href="/collections/shoes" class="reima-static-nav-link">Shoes</a>
      <div class="reima-static-dropdown" data-dropdown>
        <div class="reima-static-dropdown-inner">
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/shoes">SHOP BY TYPE</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/winter-boots">Winter Boots</a></li>
              <li><a href="/collections/rain-boots">Rain Boots</a></li>
              <li><a href="/collections/sneakers">Sneakers</a></li>
              <li><a href="/collections/sandals">Sandals</a></li>
            </ul>
            <a href="/collections/shoes" class="reima-see-all">See All Shoes</a>
          </div>
        </div>
      </div>
    </li>

    {% comment %} ====== BASE & MIDLAYERS TAB ====== {% endcomment %}
    <li class="reima-static-nav-item" data-menu-item>
      <a href="/collections/base-midlayers" class="reima-static-nav-link">Base- & Midlayers</a>
      <div class="reima-static-dropdown" data-dropdown>
        <div class="reima-static-dropdown-inner">
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/base-layers">BASE LAYERS</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/thermal-underwear">Thermal Underwear</a></li>
              <li><a href="/collections/wool-base-layers">Wool Base Layers</a></li>
            </ul>
          </div>
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/midlayers">MIDLAYERS</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/fleece">Fleece</a></li>
              <li><a href="/collections/sweaters">Sweaters</a></li>
              <li><a href="/collections/hoodies">Hoodies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    {% comment %} ====== SKIWEAR TAB ====== {% endcomment %}
    <li class="reima-static-nav-item" data-menu-item>
      <a href="/collections/skiwear" class="reima-static-nav-link">Skiwear</a>
      <div class="reima-static-dropdown" data-dropdown>
        <div class="reima-static-dropdown-inner">
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/skiwear">SKI COLLECTION</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/ski-jackets">Ski Jackets</a></li>
              <li><a href="/collections/ski-pants">Ski Pants</a></li>
              <li><a href="/collections/ski-suits">Ski Suits</a></li>
              <li><a href="/collections/ski-accessories">Ski Accessories</a></li>
            </ul>
            <a href="/collections/skiwear" class="reima-see-all">See All Skiwear</a>
          </div>
        </div>
      </div>
    </li>

    {% comment %} ====== RAINWEAR TAB ====== {% endcomment %}
    <li class="reima-static-nav-item" data-menu-item>
      <a href="/collections/rainwear" class="reima-static-nav-link">Rainwear</a>
      <div class="reima-static-dropdown" data-dropdown>
        <div class="reima-static-dropdown-inner">
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/rainwear">RAIN COLLECTION</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/rain-jackets">Rain Jackets</a></li>
              <li><a href="/collections/rain-pants">Rain Pants</a></li>
              <li><a href="/collections/rain-boots">Rain Boots</a></li>
              <li><a href="/collections/rain-accessories">Rain Accessories</a></li>
            </ul>
            <a href="/collections/rainwear" class="reima-see-all">See All Rainwear</a>
          </div>
        </div>
      </div>
    </li>

    {% comment %} ====== EVERYDAY TAB ====== {% endcomment %}
    <li class="reima-static-nav-item" data-menu-item>
      <a href="/collections/everyday" class="reima-static-nav-link">Everyday</a>
      <div class="reima-static-dropdown" data-dropdown>
        <div class="reima-static-dropdown-inner">
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/tops">TOPS</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/t-shirts">T-Shirts</a></li>
              <li><a href="/collections/long-sleeves">Long Sleeves</a></li>
              <li><a href="/collections/sweatshirts">Sweatshirts</a></li>
            </ul>
          </div>
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/bottoms">BOTTOMS</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/leggings">Leggings</a></li>
              <li><a href="/collections/joggers">Joggers</a></li>
              <li><a href="/collections/shorts">Shorts</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    {% comment %} ====== ACCESSORIES TAB ====== {% endcomment %}
    <li class="reima-static-nav-item" data-menu-item>
      <a href="/collections/accessories" class="reima-static-nav-link">Accessories</a>
      <div class="reima-static-dropdown" data-dropdown>
        <div class="reima-static-dropdown-inner">
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/accessories">HEADWEAR</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/hats">Hats & Beanies</a></li>
              <li><a href="/collections/balaclavas">Balaclavas</a></li>
              <li><a href="/collections/sun-hats">Sun Hats</a></li>
            </ul>
          </div>
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/accessories">HAND & FOOT</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/gloves">Gloves & Mittens</a></li>
              <li><a href="/collections/socks">Socks</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    {% comment %} ====== BABIES TAB ====== {% endcomment %}
    <li class="reima-static-nav-item" data-menu-item>
      <a href="/collections/babies" class="reima-static-nav-link">Babies</a>
      <div class="reima-static-dropdown" data-dropdown>
        <div class="reima-static-dropdown-inner">
          <div class="reima-dropdown-column">
            <h4 class="reima-dropdown-title"><a href="/collections/babies">BABY COLLECTION</a></h4>
            <ul class="reima-dropdown-list">
              <li><a href="/collections/baby-outerwear">Outerwear</a></li>
              <li><a href="/collections/baby-clothing">Clothing</a></li>
              <li><a href="/collections/baby-accessories">Accessories</a></li>
              <li><a href="/collections/baby-footwear">Footwear</a></li>
            </ul>
            <a href="/collections/babies" class="reima-see-all">See All Baby Products</a>
          </div>
        </div>
      </div>
    </li>

    {% comment %} ====== SALE TAB (END) ====== {% endcomment %}
    <li class="reima-static-nav-item reima-sale-end" data-menu-item>
      <a href="/collections/sale" class="reima-static-nav-link sale-link">Sale</a>
    </li>
  </ul>
</nav>

<script>
  // Calculate and set header heights for dropdown positioning
  function updateHeaderHeights() {
    const headerSection = document.querySelector('.header-section');
    const headerMain = document.querySelector('.header-main');
    const announcementBar = document.querySelector('.announcement-bar-section');

    let headerHeight = 82; // default
    let announcementHeight = 0;

    if (headerMain) {
      headerHeight = headerMain.offsetHeight;
    }
    if (announcementBar) {
      announcementHeight = announcementBar.offsetHeight;
    }

    document.documentElement.style.setProperty('--header-height', headerHeight + 'px');
    document.documentElement.style.setProperty('--announcement-height', announcementHeight + 'px');
  }

  // Run on load and resize
  document.addEventListener('DOMContentLoaded', updateHeaderHeights);
  window.addEventListener('resize', updateHeaderHeights);
  window.addEventListener('scroll', function() {
    // Update on scroll in case sticky header changes
    requestAnimationFrame(updateHeaderHeights);
  }, { passive: true });

  // Simple hover/click handling for dropdown menus
  document.addEventListener('DOMContentLoaded', function() {
    const navItems = document.querySelectorAll('.reima-static-nav-item[data-menu-item]');
    let activeItem = null;
    let hoverTimeout = null;

    navItems.forEach(item => {
      const dropdown = item.querySelector('[data-dropdown]');
      if (!dropdown) return;

      // Mouse enter - show dropdown
      item.addEventListener('mouseenter', function() {
        clearTimeout(hoverTimeout);
        if (activeItem && activeItem !== item) {
          activeItem.classList.remove('is-open');
        }
        item.classList.add('is-open');
        activeItem = item;
      });

      // Mouse leave - hide dropdown with delay
      item.addEventListener('mouseleave', function() {
        hoverTimeout = setTimeout(() => {
          item.classList.remove('is-open');
          if (activeItem === item) activeItem = null;
        }, 150);
      });

      // Keep dropdown open when hovering over it
      dropdown.addEventListener('mouseenter', function() {
        clearTimeout(hoverTimeout);
      });

      dropdown.addEventListener('mouseleave', function() {
        hoverTimeout = setTimeout(() => {
          item.classList.remove('is-open');
          if (activeItem === item) activeItem = null;
        }, 150);
      });
    });

    // Close on click outside
    document.addEventListener('click', function(e) {
      if (!e.target.closest('.reima-static-nav-item')) {
        navItems.forEach(item => item.classList.remove('is-open'));
        activeItem = null;
      }
    });
  });
</script>

<style>
  /* ========================================
     Reima Static Navigation - Core Styles
     ======================================== */
  .reima-static-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
  }

  .reima-static-nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 0;
  }

  .reima-static-nav-item {
    position: static;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .reima-static-nav-link {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-decoration: none;
    letter-spacing: 0.01em;
    white-space: nowrap;
    position: relative;
    transition: color 0.2s ease;
  }

  /* Red underline on hover */
  .reima-static-nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 3px;
    background-color: #c41230;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .reima-static-nav-item:hover .reima-static-nav-link::after,
  .reima-static-nav-item.is-open .reima-static-nav-link::after {
    transform: scaleX(1);
  }

  /* Sale tab styling */
  .reima-sale-item .reima-static-nav-link {
    color: #c41230;
    font-weight: 500;
  }

  .reima-sale-item .sale-text {
    position: relative;
  }

  .reima-sale-end .sale-link {
    color: #c41230;
    font-weight: 500;
  }

  /* ========================================
     Dropdown Styles
     ======================================== */
  .reima-static-dropdown {
    position: fixed;
    top: calc(var(--header-height, 82px) + var(--announcement-height, 0px));
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    border-top: 3px solid #c41230;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    z-index: 9999;

    /* Hidden state */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    /* Smooth animation */
    transition:
      opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      visibility 0.25s;
  }

  /* Show dropdown */
  .reima-static-nav-item.is-open .reima-static-dropdown {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .reima-static-dropdown-inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 60px 50px;
    display: flex;
    gap: 60px;
  }

  /* ========================================
     Dropdown Content
     ======================================== */
  .reima-dropdown-column {
    flex: 1;
    min-width: 180px;
    max-width: 250px;
  }

  .reima-dropdown-title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 0.08em;
    margin: 0 0 16px;
    line-height: 1.3;
  }

  .reima-dropdown-title a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
  }

  .reima-dropdown-title a:hover {
    color: #c41230;
  }

  .reima-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .reima-dropdown-list a {
    font-size: 14px;
    color: #666;
    text-decoration: none;
    transition: color 0.2s ease;
    display: inline-block;
    line-height: 1.4;
  }

  .reima-dropdown-list a:hover {
    color: #c41230;
  }

  .reima-see-all {
    display: inline-block;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #c41230;
    text-decoration: none;
    transition: opacity 0.2s ease;
  }

  .reima-see-all:hover {
    opacity: 0.8;
  }

  /* ========================================
     Mobile - Hide static nav, show hamburger
     ======================================== */
  @media (max-width: 1024px) {
    .reima-static-navigation {
      display: none;
    }
  }

  /* Smaller screens - reduce padding */
  @media (max-width: 1200px) {
    .reima-static-nav-link {
      padding: 0 12px;
      font-size: 13px;
    }

    .reima-static-dropdown-inner {
      padding: 30px 40px 40px;
      gap: 40px;
    }
  }
</style>
