:root {
  --smooth-animation: .2s ease all;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 0;
}

*,
:focus,
:focus-visible,
:hover {
  outline: 0;
  scrollbar-width: thin;
  scrollbar-color: #c9c9c9 transparent;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  background: #eee;
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

html.js noscript,
html.no-js .no-js-hidden {
  display: none !important;
}

html.no-js .is-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: var(--text);
}

body {
  background: var(--body-background);
  color: var(--text-color);
  font-size: var(--text);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  font-style: var(--body-font-style);
  margin: 0;
  padding: 0;
  word-break: break-word;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
}

html,
body {
  max-width: 100%;
}

.body-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background: var(--body-background);
}

.content-for-layout {
  display: flex;
  flex: 1;
  backface-visibility: hidden;
  /* min-height: 70vh; */
  flex-direction: column;
  background: var(--body-background);
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0px;
}


a {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
  transition: .2s ease;
}

/* a:not(.button):hover {
  color: var(--link-hover-color);
} */

.rte a {
  text-decoration: underline;
  color: inherit;
}

.rte ul {
  list-style-type: disc;
  list-style-position: inside;
}

.rte ol {
  list-style-type: decimal;
  list-style-position: inside;
}

blockquote {
  border-left: 1px solid;
  padding-left: 1rem;
  color: var(--text-color);
}

small,
sub,
sup {
  font-size: 95%;
}

iframe,
img {
  max-width: 100%;
}

button,
input[type='submit'] {
  cursor: pointer;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

details>summary {
  cursor: pointer;
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

button {
  border: 0;
  padding: 0;
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  font-size: var(--text);
}

button[disabled] {
  opacity: .5;
  pointer-events: none;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 14px;
  display: inline-block;
}

.form-control,
input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 10px 20px;
  min-height: 50px;
  line-height: 1;
  color: var(--form-text);
  font-size: var(--text-sm);
  border-radius: var(--form-radius);
  border: 1px solid var(--form-border);
  font-family: var(--body-font-family);
  background-color: var(--form-background);
}

.input-sm {
  font-size: var(--text-sm);
  min-height: 46px;
}

.input-lg {
  font-size: var(--text-md);
  min-height: 86px;
}

textarea {
  resize: none;
  overflow: auto;
}

textarea.form-control {
  border-radius: var(--form-radius);
  min-height: 120px;
}

.form-group textarea::placeholder,
.form-control::placeholder,
input::placeholder {
  opacity: .6;
  position: relative;
  color: var(--form-text);
}

.form-control:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 0;
  border-color: var(--text-color);
}

body select {
  -webkit-appearance: none;
  text-overflow: ellipsis;
}

.table-responsive {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgba(var(--border-color));
  font-size: var(--text-sm);
}

table.no-border,
table.no-border td,
table.no-border th {
  border: 0;
}

tr th,
tr td {
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid rgba(var(--border-color));
  color: var(--text-color);
  font-size: var(--text);
  padding: 16px 20px;

}

.shopify-policy__container table tr th,
.shopify-policy__container table tr td {
  text-wrap: wrap;
}

.heading-font,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

p {
  margin: 0;
  color: var(--text-color);
  font-size: var(--text);
}

p+p {
  margin-top: 20px;
}

p:empty {
  display: none;
}

.container,
.container-fluid,
.container-xs,
.container-sm,
.container-md,
.container-fullwidth,
.shopify-policy__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fullwidth {
  max-width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (hover: hover) {

  *:focus-visible {
    outline: 2px solid #ff9e45 !important;
    /* outline-offset: 1px; */
    transition: unset !important;
    z-index: 1;
  }

  .focus-inside:focus-visible {
    outline-offset: -2px;
  }

}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container,
  .container-fluid,
  .container-sm,
  .container-xs,
  .container-md,
  .container-fullwidth,
  .shopify-policy__container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container-xs {
    max-width: 1000px;
  }

  .container-sm {
    max-width: 1100px;
  }

  .container-md {
    max-width: 1170px;
  }

  .container {
    max-width: 1190px;
  }

}

@media (min-width: 1441px) {
  .container-xs {
    max-width: 1070px;
  }

  .container-sm {
    max-width: 1300px;
  }

  .container-md {
    max-width: 1440px;
  }

  .container {
    max-width: 1730px;
  }

}

@media (max-width: 767px) {
  *::-webkit-scrollbar {
    display: block;
  }

  input,
  select,
  textarea,
  .form-control {
    font-size: 16px !important;
    padding: 8px 15px;
    min-height: 48px;
  }
}