/* .collection-carousel-slider {
  max-width: 815px;
  position: absolute;
  z-index: 2;
  transition: transform .7s ease-in, opacity .7s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
} */
.collection-carousel-slider {
  max-width: 815px;
  position: relative;
  z-index: 2;
  transition: transform .7s ease-in, opacity .7s;
  margin: 50px auto;
  padding: 0 50px;
}

.collection-carousel marquee-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.collection-slider-wrapper {
  position: relative;
  padding: 37px;
  border-radius: 295px;
  background: rgba(var(--border-color));
  overflow: hidden;
  color: var(--body-background);
}
.collection-slider .swiper-slide {
  padding: 3px;
}
.collection-carousel-slider .collection-slider-wrapper:before {
  border: .8rem solid rgba(var(--border-color));
  border-radius: 31rem;
  position: absolute;
  inset: 0;
  content: "";
  height: 100%;
  width: 100%;
  z-index: 3;
  pointer-events: none;
}

.collection-slider-wrapper>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100% - 20px);
  transform: translate(-50%, -50%);
  height: auto;
  pointer-events: none;
  z-index: 2;
  transition: var(--smooth-animation);
}

.collection-slider-img {
  width: 100%;
  padding-bottom: 70%;
  border-radius: 295px;
  position: relative;
}

.collection-slider-img img {
  transition: transform 1.5s linear .1s;
}

.collection-slider .swiper-slide-active .collection-slider-img :where(img, .placeholder-svg) {
  transform: scale(1.05);
}

.badge__photo {
  width: 89px;
  height: 89px;
}

.badge__photo .media {
  border-radius: 50%;
}

.badge__photo span {
  display: block;
}

.badge-sub-title {
  display: block;
  font-size: 1.4rem;
  color: var(--card-text);
  text-transform: none;
  letter-spacing: 0;
  line-height: normal;
  font-family: var(--heading-font-family);
}

.badge-drop-text {
  color: var(--card-text);
}

.badge__name {
  margin-left: 12px;
  max-height: 100px;
  overflow-y: auto;
  font-size: var(--text-sm);
}

.collection-carousel-content .marquee-item .marquee-icon img {
  height: 100%;
}

.collection-carouselbadge {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  opacity: 0;
  transform: translateX(100px);
  visibility: hidden;
  display: inline-grid;
  align-items: center;
  transition: .6s ease all;
  grid-template-columns: auto 1fr;
}

span.collection-carouselbadge.active {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

.collection-carouselbadge-wrapper {
  position: absolute;
  right: 160px;
  bottom: 140px;
  padding: 10px;
  border-radius: 8rem;
  z-index: 4;
  border: 1px dashed var(--card-text);
  background: var(--card-background);
  display: grid;
  transform: rotate(-14deg) translate(50%, 100%);
  max-width: 264px;
  overflow: hidden;
  width: 100%;
}

.collection-carousel marquee-content .marquee-wrapper {
  background: none;
}

.collection-carousel-content .marquee-text {
  text-shadow: 3px 4px 0px rgba(0, 0, 0, .25);
  font-size: var(--marque-text-size);
  color: var(--marque-text-color);
}

span.text-with-images-badge {
  animation: hover 2s ease-in-out 0s infinite alternate;
}

.collection-carousel-description h2 {
  margin-bottom: 10px;
}

.collection-carousel-slider .collection-slider-wrapper:hover>svg {
  color: var(--highlight-text-color)
}

.text-slider.show-title-false.show-description-false,
.show-title-false .collection-carousel-heading,
.show-description-false p {
  display: none;
}


@media (max-width: 991px) {
  .collection-carousel-slider {
    max-width: calc(100% - 20px);
  }

  .collection-slider-wrapper {
    padding: 35px;
  }

  .collection-carouselbadge-wrapper {
    right: 160px;
    bottom: 80px;
    max-width: 240px;
  }

  .badge-sub-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .collection-slider-wrapper {
    padding: 20px;
  }

  .collection-carousel-slider .collection-slider-wrapper:before {
    border: .5rem solid rgba(var(--border-color));
  }

  .badge__photo {
    width: 60px;
    height: 60px;
  }

  .collection-carouselbadge-wrapper {
    max-width: 200px;
    bottom: 45px;
    padding: 5px;
    right: auto;
    left: 30px;
  }

  .collection-carousel-slider {
    padding: 0 30px;
    margin: 0 auto 25px;
  }

  .badge__name {
    margin-left: 7px;
  }

  .collection-slider-wrapper>svg {
    max-width: calc(100% - 10px);
  }
}