:root {
  --header-logo-width: 108px;
  --line-height-multiplier: 1.5em;
  /* Font sizes in rem units */
  --text-xs: calc(var(--body-font-scale) * 12px);
  --text-sm: calc(var(--body-font-scale) * 14px);
  --text: calc(var(--body-font-scale) * 16px);
  --text-md: calc(var(--body-font-scale) * 18px);
  --text-lg: calc(var(--body-font-scale) * 20px);
  --text-xl: calc(var(--body-font-scale) * 22px);
  /* Heading Font Sizes */
  --h1: calc(var(--heading-font-scale) * 80px);
  --h2: calc(var(--heading-font-scale) * 60px);
  --h3: calc(var(--heading-font-scale) * 40px);
  --h4: calc(var(--heading-font-scale) * 30px);
  --h5: calc(var(--heading-font-scale) * 26px);
  --h6: calc(var(--heading-font-scale) * 24px);
  /* Button Settings */


  /* Marquee */
  --marque-text-size: 2.94rem;
  --marquee-gap: 39px;
  --marguee-item-space: 39px;
  --marquee-speed: 15s;
  --marguee-radius: 20px;
  /* Round Section */
  --round-section-radius: 70px;
  /* Swiper Slider */
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  --swiper-pagination-bullet-border-width: 1px;
  --swiper-pagination-bullet-border-color: rgba(255, 255, 255);
  --swiper-pagination-bullet-border-style: solid;
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-nav-btn-size: 38px;

  /* Grid */
  --col-count: auto;
  --row-count: auto;
  --col-span: 2;
  --row-span: 2;
  --corner-shape-color: rgba(0, 0, 0, .20);
  /* Floating Button and animations */
  --stroke-animate-speed: 20s;

  --scroll-top-vertical-position: 40px;

  /* input:checked */
  --input-checked-color: rgba(236, 71, 113);
}

@media (max-width:1440px) {
  :root {
    --highlight-heading-size: var(--h1);
  }
}

@media (max-width:1200px) {
  :root {
    --h1: calc(var(--heading-font-scale) * 60px);
    --h2: calc(var(--heading-font-scale) * 34px);
    --h3: calc(var(--heading-font-scale) * 30px);
    --h4: calc(var(--heading-font-scale) * 26px);
    --h5: calc(var(--heading-font-scale) * 22px);
    --h6: calc(var(--heading-font-scale) * 18px);
  }
}

@media (max-width: 991px) {
  :root {
    --h1: calc(var(--heading-font-scale) * 46px);
    --text-md: calc(var(--body-font-scale) * 16px);
    --h5: calc(var(--heading-font-scale) * 20px);
  }
}

@media (max-width: 767px) {
  :root {
    --h1: calc(var(--heading-font-scale) * 36px);
    --h2: calc(var(--heading-font-scale) * 30px);
    --h3: calc(var(--heading-font-scale) * 24px);
    --h4: calc(var(--heading-font-scale) * 22px);
    --h5: calc(var(--heading-font-scale) * 20px);
    --h6: calc(var(--heading-font-scale) * 18px);
    --swiper-nav-btn-size: 28px;
  }

  .slideshow-nav-btn svg {
    width: 10px;
  }

}

.body-font {
  font-family: var(--body-font-family);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
}

/* .heading-font {
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  color: var(--heading-color);
} */
.accent-font {
  font-family: var(--accent-font-family);
  font-style: var(--accent-font-style);
  font-weight: var(--accent-font-weight);
  line-height: var(--accent-font-line-height);
}

span.section-heading {
  display: inline-block;
}

.text-stroke {
  text-stroke: var(--text-stroke-width) var(--text-stroke-color);
  -webkit-text-stroke: var(--text-stroke-width) var(--text-stroke-color);
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.text-stroke.text-stroke-fill {
  -webkit-text-fill-color: var(--text-stroke-fill-color, transparent);
}

.list-inline {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.line-through {
  text-decoration: line-through;
}

.overflow-hidden {
  overflow: hidden;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.text {
  font-size: var(--text);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

/* Font Weight Classes */
.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.font-italic {
  font-style: italic;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-normal {
  text-transform: none;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-lowercase::first-letter {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pos-static {
  position: static;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.gap-0 {
  gap: 0 !important;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-100 {
  left: 100%;
}

.right-100 {
  right: 100%;
}

.top-100 {
  top: 100%;
}

.bottom-100 {
  bottom: 100%;
}

.bottom-10 {
  bottom: 10%;
}

.border {
  border: 1px solid rgba(var(--border-color));
}

.border-top {
  border-top: 1px solid rgba(var(--border-color));
}

.border-bottom {
  border-bottom: 1px solid rgba(var(--border-color));
}

.border-right {
  border-right: 1px solid rgba(var(--border-color));
}

.border-left {
  border-left: 1px var(--border-style, solid) rgba(var(--border-color));
}

.border-width-2 {
  border-width: 2px;
}

.border-width-3 {
  border-width: 3px;
}

.border-width-4 {
  border-width: 4px;
}

.border-width-5 {
  border-width: 5px;
}

.border-none {
  border: 0;
}

.border-top-none {
  border-top: 0;
}

.border-bottom-none {
  border-bottom: 0;
}

.border-right-none {
  border-right: 0;
}

.border-left-none {
  border-left: 0;
}

.border-solid {
  --border-style: solid;
}

.border-dashed {
  --border-style: dashed;
}

.rounded {
  border-radius: 100%;
}

.border-radius-none {
  border-radius: 0 !important;
}

.border-radius-top-left-none {
  border-top-left-radius: 0px !important;
}

.border-radius-top-right-none {
  border-top-right-radius: 0px !important;
}

.border-radius-bottom-left-none {
  border-bottom-left-radius: 0px !important;
}

.border-radius-bottom-right-none {
  border-bottom-right-radius: 0px !important;
}

.radius {
  border-radius: var(--border-radius);
}

.radius-8 {
  border-radius: 8px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-18 {
  border-radius: 18px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-30 {
  border-radius: 30px;
}

.radius-40 {
  border-radius: 40px;
}

.radius-50 {
  border-radius: 50px;
}

.radius-70 {
  border-radius: 50px;
}

.radius-100 {
  border-radius: 100px;
}

/* desktop border-radius  */

.top-left {
  top: 15px;
  left: 15px;
}

.top-center {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.top-right {
  top: 15px;
  right: 15px;
}

.center-left {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-right {
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.bottom-left {
  bottom: 15px;
  left: 15px;
}

.bottom-center {
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-right {
  bottom: 15px;
  right: 15px;
}

.hidden,
.js-hidden {
  display: none !important;
}

.visually-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-inline-flex {
  display: inline-flex;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.p-0 {
  padding: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.blur {
  filter: blur(5px);
}

/*  */

.left-top {
  align-items: flex-start;
}

.left-center {
  align-items: center;
}

.left-bottom {
  align-items: flex-end;
}

.col-span {
  grid-column: span var(--col-span);
}

.row-span {
  grid-row: span var(--row-span);
}

/*  */

/* Section Header CSS */
.section-header {
  margin-bottom: 30px;
}

.section-header.align-center {
  margin-left: auto;
  margin-right: auto;
}


.column-header {
  margin-bottom: 30px;
}

/* end */

#rich-text-section {
  --top-spacing: 112px;
  --bottom-spacing: 105px;
  --corner-shape-color: rgba(87, 180, 247);
}

.rich-text-wrapper.d-grid {
  grid-template-columns: .8fr 1fr;
  gap: 50px;
}

/* .rich-text-description {
  padding-bottom: 52px;
} */

@media (min-width: 320px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-inline-flex {
    display: inline-flex;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-flex {
    display: inline-flex;
  }

  .d-md-grid {
    display: grid !important;
  }

  .d-text-left {
    text-align: left;
  }

  .d-text-center {
    text-align: center;
  }

  .d-text-right {
    text-align: right;
  }

  .d-pos-static {
    position: static;
  }

  .d-pos-relative {
    position: relative;
  }

  .d-pos-absolute {
    position: absolute;
  }

  .d-pos-fixed {
    position: fixed;
  }

  .d-pos-sticky {
    position: sticky;
  }

  .d-top-left {
    top: 20px;
    left: 20px;
  }

  .d-top-center {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .d-top-right {
    top: 20px;
    right: 20px;
  }

  .d-center-left {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  .d-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .d-center-right {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .d-bottom-left {
    bottom: 20px;
    left: 20px;
  }

  .d-bottom-center {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .d-bottom-right {
    bottom: 20px;
    right: 20px;
  }

  .d-pos-static {
    position: static;
  }

  .d-pos-relative {
    position: relative;
  }

  .d-pos-absolute {
    position: absolute;
  }

  .d-pos-fixed {
    position: fixed;
  }

  .d-media-fixed.media {
    height: var(--media-height);
    padding-bottom: 0px;
  }

  .d-media-adapt.media {
    padding-bottom: var(--image-ratio);
  }

  .d-border-radius-all {
    border-radius: var(--card_radius);
  }

  .d-border-radius-none {
    border-radius: 0px;
  }

  .d-border-radius-bottom {
    border-bottom-left-radius: var(--card_radius);
    border-bottom-right-radius: var(--card_radius);
  }

  .d-border-radius-top {
    border-top-left-radius: var(--card_radius);
    border-top-right-radius: var(--card_radius);
  }

  .d-pr-0 {
    padding-right: 0;
  }

  .d-pl-0 {
    padding-left: 0;
  }

  .d-pt-0 {
    padding-top: 0;
  }

  .d-pb-0 {
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-inline-flex {
    display: inline-flex;
  }
}

@media (min-width: 1025px) {
  .image-hover:hover img {
    transform: scale(1.1);
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .column-header {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {

  .m-text-left {
    text-align: left;
  }

  .m-text-center {
    text-align: center;
  }

  .m-text-right {
    text-align: right;
  }

  .m-pos-static {
    position: static;
  }

  .m-pos-relative {
    position: relative;
  }

  .m-pos-absolute {
    position: absolute;
  }

  .m-pos-fixed {
    position: fixed;
  }

  .m-pos-sticky {
    position: sticky;
  }

  .m-top-left {
    top: 15px;
    left: 15px;
  }

  .m-top-center {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .m-top-right {
    top: 15px;
    right: 15px;
  }

  .m-center-left {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  .m-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .m-center-right {
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  .m-bottom-left {
    bottom: 15px;
    left: 15px;
  }

  .m-bottom-center {
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .m-bottom-right {
    bottom: 15px;
    right: 15px;
  }

  .m-pos-static {
    position: static;
  }

  .m-pos-relative {
    position: relative;
  }

  .m-pos-absolute {
    position: absolute;
  }

  .m-pos-fixed {
    position: fixed;
  }

  .m-media-fixed.media {
    height: var(--media-height);
    padding-bottom: 0px;
  }

  .m-media-adapt.media {
    padding-bottom: var(--image-ratio);
  }

  .m-border-radius-all {
    border-radius: var(--card_radius);
  }

  .m-border-radius-none {
    border-radius: 0px;
  }

  .m-border-radius-bottom {
    border-bottom-left-radius: var(--card_radius);
    border-bottom-right-radius: var(--card_radius);
  }

  .m-border-radius-top {
    border-top-left-radius: var(--card_radius);
    border-top-right-radius: var(--card_radius);
  }

  .m-pr-0 {
    padding-right: 0;
  }

  .m-pl-0 {
    padding-left: 0;
  }

  .m-pt-0 {
    padding-top: 0;
  }

  .m-pb-0 {
    padding-bottom: 0;
  }

  .section-header {
    margin-bottom: 15px;
  }
}