.countdown-style-star .countdown-box:before {
    clip-path: path("M47.3418 3.76827C50.1375 -0.0700402 55.8625 -0.0700321 58.6582 3.76828L65.5322 13.2058C67.0784 15.3286 69.6828 16.4074 72.2772 15.9996L83.8111 14.187C88.5021 13.4497 92.5503 17.4979 91.813 22.1889L90.0004 33.7228C89.5926 36.3172 90.6714 38.9216 92.7942 40.4678L102.232 47.3418C106.07 50.1375 106.07 55.8625 102.232 58.6582L92.7942 65.5322C90.6714 67.0784 89.5926 69.6828 90.0004 72.2772L91.813 83.8111C92.5503 88.5021 88.5021 92.5503 83.8111 91.813L72.2772 90.0004C69.6828 89.5926 67.0784 90.6714 65.5322 92.7942L58.6582 102.232C55.8625 106.07 50.1375 106.07 47.3418 102.232L40.4678 92.7942C38.9216 90.6714 36.3172 89.5926 33.7228 90.0004L22.1889 91.813C17.4979 92.5503 13.4497 88.5021 14.187 83.8111L15.9996 72.2772C16.4074 69.6828 15.3286 67.0784 13.2058 65.5322L3.76827 58.6582C-0.0700402 55.8625 -0.0700321 50.1375 3.76828 47.3418L13.2058 40.4678C15.3286 38.9216 16.4074 36.3172 15.9996 33.7228L14.187 22.1889C13.4497 17.4979 17.4979 13.4497 22.1889 14.187L33.7228 15.9996C36.3172 16.4074 38.9216 15.3286 40.4678 13.2058L47.3418 3.76827Z");
    content: "";
    background: var(--card-background);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.countdown-style-star .countdown-box {
    width: 106px;
    height: 106px;
    border: none;
    background: none;
}

@media (max-width: 767px) {
    .countdown-style-star .countdown-box:before {
        clip-path: path("M31.9227 2.22486C33.4432 0.137354 36.5568 0.137351 38.0773 2.22485L43.4001 9.53266C44.241 10.6872 45.6574 11.2739 47.0684 11.0521L55.9996 9.64852C58.5508 9.24757 60.7524 11.4492 60.3515 14.0004L58.9479 22.9316C58.7261 24.3426 59.3128 25.759 60.4673 26.5999L67.7751 31.9227C69.8626 33.4432 69.8627 36.5568 67.7751 38.0773L60.4673 43.4001C59.3128 44.241 58.7261 45.6574 58.9479 47.0684L60.3515 55.9996C60.7524 58.5508 58.5508 60.7524 55.9996 60.3515L47.0684 58.9479C45.6574 58.7261 44.241 59.3128 43.4001 60.4673L38.0773 67.7751C36.5568 69.8626 33.4432 69.8627 31.9227 67.7751L26.5999 60.4673C25.759 59.3128 24.3426 58.7261 22.9316 58.9479L14.0004 60.3515C11.4492 60.7524 9.24757 58.5508 9.64852 55.9996L11.0521 47.0684C11.2739 45.6574 10.6872 44.241 9.53266 43.4001L2.22486 38.0773C0.137354 36.5568 0.137351 33.4432 2.22485 31.9227L9.53266 26.5999C10.6872 25.759 11.2739 24.3426 11.0521 22.9316L9.64852 14.0004C9.24757 11.4492 11.4492 9.24757 14.0004 9.64852L22.9316 11.0521C24.3426 11.2739 25.759 10.6872 26.5999 9.53266L31.9227 2.22486Z");
    }

}