 .get-in-touch-form .form-group button.button::before {
   transform: translateX(0);
 }

 .full-width-search.open .close-drawer {
   animation: fadeInOverlay .4s linear .45s;
   opacity: 1;
   visibility: visible;
 }

 .mini-cart-drawer .drawer-container {
   max-width: 810px;
 }

 .slideshow-pagination.slideshow-pagination-minicart {
   padding-top: 0;
   width: auto;
 }

 .drawer-close-btn {
   width: 45px;
   height: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: transparent;
   color: var(--text-color, #fff);
   border-radius: 100%;
   position: relative;
   transition: .5s ease;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
 }

 .drawer-close-btn.close-btn-left {
   left: calc(0% - 40px);
 }

 .drawer-body {
   overflow: hidden;
   padding: 0 34px;
 }

 .drawer-body-head {
   padding: 20px 0;
 }

 .drawer-body-content {
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   padding-right: 4px;
 }

 .cart-product-info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   gap: 10px;
   height: 100%;
 }

 .drawer-cart-suggestions {
   margin-bottom: 20px;
 }

 .drawer-cart-suggestions .cart-product-item {
   margin-bottom: 0;
 }

 .cart-foot-notes {
   display: flex;
   padding: 18px 0;
 }

 .drawer-cart-note {
   flex: 1 1 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 /* 
.drawer-cart-note+.drawer-cart-note {
  border-left: 1px solid;
} */

 .cart-product-net-price {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .cart-product-summary {
   padding: 24px 0;
 }

 .cart-note-button {
   display: inline-flex;
   align-items: center;
   gap: 10px;
 }

 .cart-action-buttons {
   display: flex;
   gap: 18px;
 }


 .cart-note-content {
   position: absolute;
   width: 100%;
   height: 100%;
   max-height: 100% !important;
   left: 0;
   bottom: 0;
   visibility: hidden;
   z-index: 2;
   transition: .3s ease;
 }

 .cart-note-content.active {
   visibility: visible;
 }

 .cart-note-content-main {
   position: absolute;
   bottom: 0;
   left: 0;
   background: var(--body-alt-background);
   padding: 20px;
   transform: translateY(100%);
   transition: transform .6s cubic-bezier(.7, 0, .2, 1);
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
   box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.1);
 }

 .cart-note-content.active .cart-note-content-main {
   transform: translateY(0%);
   visibility: visible;
   opacity: 1;
   pointer-events: all;
 }