.product-details-media.media-wrapper {
    border-radius: var(--card-radius);
    overflow: hidden;
}

.product-details-content .product-collapsible-content-box:not(:last-child) {
    margin-bottom: 20px;
}


.product-accordion-content-body p {
    font-size: var(--text-sm);
}

.product-accordion-content-body p:last-child {
    margin-bottom: 0;
}

.product-accordion-content {
    padding: 25px 20px;
    color: var(--text-color);
}

.section-product-content .accordion-heading {
    background: var(--card-background);
    padding: 15px 20px;
    border-radius: var(--card-radius);
    color: var(--card-text);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 10%);
}

.section-product-content .accordion-item {
    background: var(--card-background);
    border-radius: var(--card-radius);
    overflow: hidden;
    border: 1px solid rgba(var(--border-color));
}

.section-product-content .accordion-title {
    color: var(--card-text);
}

.section-product-content .product-tabs-block-list-item {
    overflow: hidden;
    position: relative;
}

.section-product-content .active span.category-btn,
.main-product-wrapper .active span.category-btn {
    padding-inline-start: 25px;
}

.section-product-content .product-tabs-block-list-item:before,
.main-product-wrapper .product-tabs-block-list-item:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    left: -100px;
    top: calc(50% - 10px);
    opacity: 0;
    background: var(--text-color);
    border-radius: 50%;
    transition: .3s cubic-bezier(.47, 0, .75, .72) all;
}

.section-product-content .product-tabs-block-list-item .category-btn:before,
.main-product-wrapper .product-tabs-block-list-item .category-btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--text-color);
    z-index: -1;
    transform: translateX(-100%);
    transition: .4s ease all;
}

.section-product-content .product-tabs-block-list-item .category-btn:after,
.main-product-wrapper .product-tabs-block-list-item .category-btn:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--text-color);
    width: 100%;
    height: 2px;
    opacity: .6
}

.section-product-content .product-tabs-block-list-item.active .category-btn,
.section-product-content .product-tabs-block-list-item:hover .category-btn,
.main-product-wrapper .product-tabs-block-list-item.active .category-btn,
.main-product-wrapper .product-tabs-block-list-item:hover .category-btn {
    opacity: 1;
}

.section-product-content .product-tabs-block-list-item.active .category-btn:before,
.main-product-wrapper .product-tabs-block-list-item.active .category-btn:before {
    transform: translateX(0%);
}

.main-product-wrapper .product-tabs-block-list {
    gap: 40px;
    width: 100%;
}

.section-product-content .active:before,
.main-product-wrapper .active:before {
    left: 0;
    opacity: 1;
}


@media (max-width: 1024px) {
    .main-product-wrapper .product-tabs-block-list {
        gap: 20px;
    }

    .product-tabs-block-tabs-header tabs-header {
        overflow-x: auto;
    }
}

@media (max-width: 767px) {

    .main-product-wrapper .product-tabs-block-list {
        gap: 10px;
        white-space: nowrap;
        flex-wrap: nowrap;
    }

    .section-product-content .product-tabs-block-list-item {
        min-width: max-content;
    }

    .product-accordion-content,
    .section-product-content .accordion-heading {
        padding: 15px;
    }
}