.page-banner-section .round-section.round-top .page-banner-outer {
    overflow: hidden;
    border-top-left-radius: var(--round-section-radius);
    border-top-right-radius: var(--round-section-radius);
}

.page-banner-section .round-section.round-bottom .page-banner-outer {
    overflow: hidden;
    border-bottom-left-radius: var(--round-section-radius);
    border-bottom-right-radius: var(--round-section-radius);
}

.page-banner-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-banner-content.content-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 85%;
    overflow: auto;
    padding: 10px;
}

.page-banner-content.content-overlay .page-desc,
.page-banner-content.content-overlay .page-banner-desc {
    color: var(--image-overlay-text-color);
}

.page-banner-content.content-overlay .page-banner-heading {
    color: var(--image-overlay-heading-color);
}

.page-banner-heading+.page-banner-desc {
    padding-top: 10px;
}

.page-desc {
    padding-top: 10px;
}

.page-banner-content .blog-tags {
    padding-bottom: 10px;
}

.page-banner-section:has(.no-container) .page-banner-content {
    padding-left: 20px;
    padding-right: 20px;
}



@media (min-width:768px) {
    .page-banner-content.d-text-left {
        margin-right: auto;
    }

    .page-banner-content.d-text-center {
        margin-left: auto;
        margin-right: auto;
    }

    .page-banner-content.d-text-right {
        margin-left: auto;
    }
}

@media (max-width:767px) {
    .page-banner-content.m-text-left {
        margin-right: auto;
    }

    .page-banner-content.m-text-center {
        margin-left: auto;
        margin-right: auto;
    }

    .page-banner-content.m-text-right {
        margin-left: auto;
    }

    .page-banner-desc br {
        display: none;
    }
}