html,
main.password-main,
.section-password,
body.password,
.section-password .section-wrapper {
    height: 100vh;
}

.password-header {
    justify-content: space-between;
}
.password-header-wrapper {
    background: var(--body-alt-background);    padding: 10px 0;
}
.password-button {
    gap: 10px;
    padding: 11px 25px;
}

.newsletter-form {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px; 
}
 
.password-content-inner {
    max-width: 880px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    gap: 20px;
}
.password-footer {
    padding-top: 20px;
}
.section-password .section-wrapper {
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.password-header-logo-wrapper img {
    max-width: var(--header-logo-width);
    object-fit: contain;
}

.password-content-msg {
    margin-bottom: 45px;
}

.form-newsletter input {
    /* min-height: 80px;
    font-size: var(--text-md); */
    border-radius: var(--button-border-radius);
}

.newsletter-form .button {
    height: 100%;
    min-width: 224px;
}

.popup-content-head {
    padding: 10px 30px;
}

.popup-content-body {
    overflow: auto;
    padding: 30px;
    height: auto;
}

.password-popup-desc {
    margin-bottom: 15px;
}

.password-popup-form button {
    font-size: var(--text-md);
}

.popup .popup-content.popup-dialog {
    max-width: 537px;
    background: var(--body-background);
    border-radius: var(--card-radius);
}

.password-popup-info {
    margin-top: 35px;
    text-align: center;
}
.password-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    justify-content: center;
    padding: 20px;
}
.password-header-wrapper+.container {
    height: 100%;
}
 

@media (max-width: 767px) {
    .password-header {
        gap: 10px;
        text-align: center;
        flex-direction: column-reverse;
    }

    .password-button {
        min-height: auto;
    }

    .newsletter-form .button.button-block {
        width: 100%;
    }

    .newsletter-form {
        grid-template-columns: auto;
    }

    /* .form-newsletter input {
        min-height: 58px;
        font-size: var(--text);
    } */

    .password-button,
    .popup-content-head {
        padding: 10px 20px;
    }

    .password-wrapper,
    .popup-content-body {
        padding: 20px 0;
    }

    .password-popup-info {
        margin-top: 15px;
    }

    .password-button span svg {
        width: 18px;
        height: 18px;
    }
    .password-footer {
        padding-top: 10px;
    }
}