.product-specifications-content {
    padding: 20px 0;
    gap: 40px;
}

.product-specifications-content:not(:has(.background-overlay-image)) {
    background-color: var(--body-alt-background);
}

.product-specifications-content,
.product-specifications-image-wrapper {
    border-radius: var(--card-radius);
    overflow: hidden;
}

.product-specifications-collapsible-content>div+div:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(var(--border-color));
    margin-bottom: 10px;
}

.product-specifications-content .background-overlay-image {
    border-radius: unset;
}

.product-specification-tabs-header tabs-header {
    position: relative;
}

.product-specification-tabs-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.product-specification-tabs-list-item {
    position: relative;
    z-index: 1;
    transition: var(--smooth-animation);
    padding: 0 10px 10px;
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.product-specification-tabs-list-item:not(.active) .category-btn {
    opacity: .6;
}

.product-specification-tabs-list-item:before,
.product-specification-tabs-list-item:after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .3s ease-in-out width;
    background-color: var(--text-color);
    z-index: 1;
}

.product-specification-tabs-list-item:after {
    opacity: .2;
    width: 100%;
}

.product-specification-tabs-list-item.active:before {
    width: 100%;
}

.product-specification-block-content {
    max-height: calc(90svh - 80px);
    overflow-y: auto;
}

.no-container .product-specifications-main-wrapper .row {
    margin: 0;
}

.no-container [class*="col-md"] {
    padding: 0;
}

.no-container [class*="col-md"] .product-specifications-content,
.no-container [class*="col-md"] .product-specifications-image-wrapper {
    border-radius: 0;
}

@media (min-width: 768px) {
    .product-specifications-content {
        padding: 30px 0;
    }
}

@media (min-width: 1025px) {
    .product-specifications-content {
        padding: 50px 0;
    }
}

@media (min-width: 1280px) {
    .product-specifications-content {
        padding: 100px 0;
    }
}

@media (max-width: 991px) {
    .product-specification-tabs-list {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .product-specifications-collapsible-content>div+div:not(:last-child) {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .product-specification-tabs-list-item {
        padding: 0 8px 10px;
    }

    .product-specifications-main-wrapper .row {
        gap: 20px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .product-specifications-content {
        padding: 15px 0;
        gap: 20px;
    }
}