.promotional-background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hide-countdown {
    visibility: hidden;
    opacity: 0;
}

.promotional-bar-content-holder .countdown-box:not(:last-child):after {
    content: ":";
    position: absolute;
    left: calc(100% + 4px);
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
}

.promotional-bar-content-holder .countdown {
    gap: 15px;
}

.promotional-bar-content-holder .countdown-units {
    grid-template-columns: repeat(4, auto);
    gap: 12px;
}

.promotional-bar-section .section-wrapper {
    border-radius: var(--border-radius);
}

.promotional-bar-content-holder {
    z-index: 1;
    min-height: var(--promotional-bar-height);
}

/* .promotional-bar-content-holder:has(.media-overlay) .countdown-expired-text,
.promotional-bar-content-holder:has(.media-overlay) .countdown-text {
    color: var(--image-overlay-text-color);
} */


.promotional-bar-content-holder .countdown-expired-text,
.promotional-bar-content-holder .countdown-text {
    color: var(--heading-color);
}

.promotional-bar-content-holder .countdown-box:not(:last-child):after,
.promotional-bar-content-holder .countdown-unit-value {
    color: var(--text-color);
}

/* .promotional-bar-content-holder .countdown-box:not(:last-child):after,
.promotional-bar-content-holder .countdown-unit-value {
    color: var(--highlight-text-color);
} */

.promotional-bar-content-holder .countdown-expired {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    /* padding: 10px; */
    max-width: max-content;
    overflow-y: auto;
    justify-content: flex-start;
}

@media (max-width: 767px) {
    .promotional-bar-content-holder {
        padding: 5px;
        min-height: var(--promotional-bar-height);
    }

    .promotional-bar-content-holder .countdown {
        gap: 10px;
    }
}