.slideshow-media {
  overflow: hidden;
}

.slideshow-heading-wrap {
  position: relative;
}


.slideshow-content-inner {
  width: 100%;
  display: grid;
  position: absolute;
  align-content: center;
}

.slideshow-content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.main-slideshow-nav.swiper-button-wrapper {
  position: absolute;
  display: flex;
  gap: 15px;
}

.main-slideshow-nav .slideshow-nav-btn {
  position: relative;
  margin: inherit;
}

.main-slideshow-pagination {
  position: absolute;
  z-index: 1;
  padding: 0;
}

.navigation-none .main-slideshow-pagination,
.navigation-none .main-slideshow-nav,
.navigation-arrows .main-slideshow-pagination,
.navigation-dots .main-slideshow-nav {
  display: none;
}

.section-shape-enable.section-shape-bottom .swiper-horizontal>.swiper-pagination-bullets,
.section-shape-enable.section-shape-bottom .swiper-pagination-bullets.swiper-pagination-horizontal,
.section-shape-enable.section-shape-bottom .swiper-pagination-custom,
.section-shape-enable.section-shape-bottom .swiper-pagination-fraction {
  --swiper-pagination-bottom: 100px;
}


section.slideshow-section:has(.section-sticky-enable) {
  position: sticky;
  top: 0;
  z-index: 0;
}

/* css new slider */
.slideshow-content-videothumnbnail {
  position: absolute;
  right: 50px;
  bottom: 70px;
  width: 330px;
  height: auto;
  z-index: 2;
  transition: .3s cubic-bezier(.46, .03, .52, .96) all;
  border-radius: var(--card-radius);
  overflow: hidden;
  border: 3px solid rgba(var(--border-color));
  cursor: pointer;
}

.slideshow-content-videothumnbnail-inner {
  position: relative;
}

.slide-video-collapse-wrapper span {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--smooth-animation);
}

.collapsed-video .video-content-button .video-play-animated-icon {
  width: 50px;
  height: 50px;
}

.collapsed-video .video-content-button .video-play-animated-icon svg {
  transform: scale(.9)
}

.slide-video-collapse-wrapper span svg {
  height: 15px;
  width: 15px;
  display: flex;
}

.maximize-icon,
.collapsed-video .minimize-icon {
  opacity: 0;
}

.collapsed-video .maximize-icon {
  opacity: 1;
}

.swiper-pagination-bullet {
  transition: var(--smooth-animation);
}

.slideshow-section .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  opacity: 1;
  font-size: 0;
}

.slideshow-section .swiper-pagination-bullet:before {
  width: 13px;
  height: 13px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  border-color: var(--swiper-navigation-border);
}

.slideshow-section .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 47px;
  width: 13px;
  overflow: hidden;
}

.slideshow-section .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  background: rgba(var(--swiper-navigation-background));
  height: 100%;
  width: 12px;
  border-radius: 20px
}

.slideshow-section .swiper-pagination-horizontal.swiper-pagination-bullets.slideshow-autoplay-true .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  opacity: 0.3;
}

.slideshow-section span.swiper-pagination-bullet:after {
  background: rgba(var(--swiper-navigation-background));
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 0;
  margin: 0 auto;
  width: 13px;
  border-radius: 20px;
}

.slideshow-section .swiper-pagination-bullet {
  position: relative;
  border-radius: 20px;
}

.slideshow-autoplay-false .swiper-pagination-bullet::after,
.slideshow-autoplay-true .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  height: 100%;
  transition: var(--autoplay-speed) linear all;
}

/* .slideshow-section .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background: rgba(var(--swiper-navigation-background));
  border-color: var(--swiper-pagination-bullet-border-color);
} */

/* .slideshow-autoplay-true .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(var(--swiper-navigation-background));
} */

.slideshow-section .slideshow-content-videothumnbnail-inner .media:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(var(--image-overlay-background));
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--smooth-animation);
}

.slideshow-section .slideshow-content-videothumnbnail-inner:hover .media:before {
  opacity: 1;
}

/* .slideshow-section span.swiper-pagination-bullet:before {
  display: block;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
} */

.swiper-slide .swiper-slide-shadow {
  border-radius: var(--card-radius);
}

/* banner radius css */
.slideshow-section .slideshow-outer-wrapper {
  border-radius: var(--slideshow-section-radius);
  overflow: hidden;
  display: block;
}

.slideshow-section .section-border-true .slideshow-outer-wrapper {
  border: 1px solid rgba(var(--border-color));
}

.main-slideshow-pagination.slideshow-pagination {
  flex-direction: column;
  width: 50px;
  right: 0;
  left: auto;
  bottom: 75px;
  gap: 5px;
}


.slide-video-collapse-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  cursor: pointer;
  display: grid;
  width: 35px;
  height: 35px;
  background: #ffffff26;
  place-content: center;
  border-radius: var(--button-border-radius);
  backdrop-filter: blur(8px);
  color: #fff;
  border: 1px solid #ffffff5e;
  transition: var(--smooth-animation);
}

.slideshow-content-videothumnbnail.collapsed-video {
  width: 200px;
}

.slide-video-collapse-wrapper svg.drawer-close-icon {
  width: 10px;
  color: var(--button-text-color);
}

.collapsed-video .slide-video-collapse-wrapper {
  width: 28px;
  height: 28px;
}

.collapsed-video .slide-video-collapse-wrapper span svg {
  height: 14px;
  width: 14px;
}

.slideshow-content-inner .media-button-wrap {
  padding: 3px;
}

/* Hero Banner framed slider  */
/* .hero-banner-main-wrapper .slideshow-content-inner {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  inset: 0;
} */
.hero-banner-main-wrapper .slideshow-content-inner {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  inset: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 0 50px;
}

.hero-banner-main-wrapper .slideshow-content-inner>div {
  margin-top: auto;
}

.framed-slide-bottom-content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 15px 0 0 0;
  margin-top: 15px;
  gap: 20px;
  position: relative;
  align-items: center;
}

.framed-slide-bottom-content-wrapper:before {
  content: "";
  border-top: 1px solid rgba(var(--border-color));
  position: absolute;
  left: calc(-50% - 50vw);
  right: calc(-50% - 50vw);
  top: 0;
}

.slideshow-framed-slide-wrapper {
  overflow: hidden;
}

.heading-color-effect-exclusion {
  mix-blend-mode: exclusion;
}

.heading-color-effect-color_dodge {
  mix-blend-mode: color-dodge;
}

.heading-color-effect-overlay {
  mix-blend-mode: overlay;
}

.hero-banner-main-wrapper .main-slideshow-pagination.slideshow-pagination {
  bottom: 15px;
}

.framed-slide-media-button-wrap {
  min-width: 200px;
}

@media (min-width: 768px) {
  .framed-slide-bottom-content-wrapper {
    padding: 30px 95px 0 0;
    margin-top: 30px;
  }

  .hero-banner-main-wrapper .slideshow-content-inner {
    padding: 40px 0;
  }

  .slideshow-content-inner.small-width {
    max-width: 480px;
  }

  .slideshow-content-inner.medium-width {
    max-width: 580px;
  }

  .slideshow-content-inner.large-width {
    max-width: 680px;
  }

  .slideshow-content-inner .media-button-wrap {
    padding-top: 20px;
  }

  .slideshow-content-inner[class*="d-top-"] {
    top: calc(20px + var(--dynamic-announcement-height, 0px) + var(--dynamic-header-height, 0px));
  }
}


@media (min-width: 1025px) {
  .slideshow-content-inner.small-width {
    max-width: 650px;
  }

  .slideshow-content-inner.medium-width {
    max-width: 850px;
  }

  .slideshow-content-inner.large-width {
    max-width: 1100px;
  }

  .slideshow-content-videothumnbnail-inner:hover .video-content-button {
    transform: translate(-50%, -50%) scale(1.2);
  }

  .slideshow-content-inner[class*="d-bottom"] {
    bottom: 65px;
  }

  .slideshow-content-inner.d-top-center {
    padding-top: 60px;
  }

  .slideshow-content-inner.d-bottom-center {
    padding-bottom: 60px;
  }

  .framed-slide-bottom-content-wrapper {
    gap: 40px;
  }
}


@media (max-width: 1200px) {
  .slideshow-content-videothumnbnail {
    width: 235px;
  }
}


@media (max-width: 1024px) {
  .slideshow-content-inner.d-top-center {
    padding-top: 0;
  }

  .slideshow-section:not(.hero-banner-section) .slideshow-content-inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .slideshow-content-videothumnbnail {
    width: 170px;
    right: 50px;
  }

  .slideshow-content-videothumnbnail.collapsed-video {
    width: 150px;
  }

  .slideshow-content-videothumnbnail-inner .video-content-button .video-play-animated-icon svg {
    transform: scale(.8);
  }
}

@media (max-width: 767px) {
  .framed-slide-bottom-content-wrapper {
    grid-template-columns: auto;
    gap: 10px;
  }

  .slideshow-section .slideshow-outer-wrapper {
    border-radius: calc(var(--slideshow-section-radius) / 2);
  }

  .slideshow-section:not(.hero-banner-section) .slideshow-content-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .slideshow-content-videothumnbnail {
    width: 100px;
    bottom: 10px;
    right: 10px;
    border: 2px solid rgba(var(--border-color));
    border-radius: calc(var(--card-radius) / 2);
  }

  .slideshow-section .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: 30px;
    width: 12px;
  }

  .slideshow-section .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
    width: 10px;
  }

  .slideshow-section .swiper-pagination-bullet:before {
    width: 10px;
    height: 10px;
  }

  .slide-video-collapse-wrapper {
    display: none;
  }

  .slideshow-section .section-shape-bottom .slideshow-content-inner {
    overflow-y: auto;
    max-height: 200px;
    display: grid;
    align-content: flex-start;
  }

  .slideshow-content-videothumnbnail-inner .video-content-button {
    transform: translate(-50%, -50%) scale(1);
  }


  .slideshow-content-videothumnbnail-inner .video-content-button .video-play-animated-icon {
    width: 30px;
    height: 30px;
  }

  .slideshow-content-videothumnbnail-inner .video-content-button .video-play-animated-icon svg {
    transform: scale(.5);
  }

  .main-slideshow-pagination.slideshow-pagination {
    bottom: 20px;
    width: 40px;
    gap: 0;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .slideshow-section .media-button-wrap {
    padding-top: 10px;
  }

  .slideshow-content-inner[class*="m-bottom"] {
    bottom: 110px;
  }

  .slideshow-content-inner[class*="m-top-"] {
    top: var(--header-height);
  }

  .main-slideshow-nav.swiper-button-wrapper {
    bottom: 10px;
    left: 10px;
    gap: 5px;
  }

  .slideshow-section .swiper.navigation-dots .slideshow-content-videothumnbnail {
    right: 40px;
    bottom: 20px;
  }

  .hero-banner-section .main-slideshow-nav.swiper-button-wrapper {
    bottom: 15px;
    left: 15px;
    gap: 5px;
  }

  .hero-banner-main-wrapper .main-slideshow-pagination.slideshow-pagination {
    bottom: 10px;
  }
}