    .no-js .social-media-gallery-content-wrapper .swiper-wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(20%, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        justify-content: flex-start;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 15px;
    }

    .social-media-gallery-content-wrapper .d-grid {
        grid-template-columns: repeat(var(--column-count, 2), 1fr);
        gap: var(--column-gap, 20px);
    }

    .social-media-gallery-content-wrapper .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    .social-media-items-wrapper {
        display: grid;
        gap: var(--marquee-grid-gap);
        height: auto;
    }

    .social-media-items-wrapper .swiper-horizontal {
        display: grid;
        justify-content: center;
        justify-items: center;
        width: 100%;
    }


    .social-media-item {
        display: block;
        position: relative;
        border-radius: var(--card-radius);
        overflow: hidden;
    }

    .social-media-item-image {
        height: 100%;
    }

    .social-media-items-wrapper .social-media-item-image :where(img, svg) {
        height: 100%;
        object-fit: cover;
        display: block;
        aspect-ratio: 1 / 1;
        width: 100%;
    }

    .social-media-item .media-fixed {
        transition: var(--smooth-animation);
    }

    .social-media-items-wrapper .social-media-item:hover .media-fixed {
        transform: scale(1.2) rotateZ(4deg);
    }

    .social-media-gallery-icon {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        background: rgba(var(--image-overlay-background));
        transition: var(--smooth-animation);
        transform: translateY(-100%);
        transform-origin: top;
    }

    .social-media-items-wrapper .social-media-item:hover .social-media-gallery-icon {
        transform: translateY(0%);
    }


    .social-media-gallery-icon svg {
        width: 40px;
        height: 40px;
        color: var(--image-overlay-text-color);
        backdrop-filter: blur(5px);
        border-radius: var(--button-border-radius);
        background: #ffffff21;
        padding: 10px;
        overflow: visible;
    }


    .social-media-gallery-section .section-header {
        margin-bottom: 45px;
    }