 .timeline-bar {
   width: 50%;
 }

 .timeline-card {
   /* background: var(--card-background);
   border-radius: var(--card-radius); */
   padding: 45px;
 }

 timeline-slideshow .swiper-horizontal.swiper-backface-hidden {
   background: var(--card-background);
   border-radius: var(--card-radius);
 }

 .image-with-text-media-wrap {
   width: 100%;
 }


 .timeline-wrapper .sub-heading {
   -webkit-text-stroke-color: var(--card-text);
   -webkit-text-stroke-width: 1px;
   text-transform: uppercase;
   color: transparent;
   font-family: var(--heading-font-family);
   font-weight: var(--heading-font-weight);
   line-height: 1;
 }


 .timeline-wrapper .timeline-heading,
 .timeline-wrapper .image-with-text-desc p {
   color: var(--card-text);
 }

 .timeline-step:last-child .timeline-step-label {
   right: 0;
 }


 .timeline-container {
   width: 100%;
   max-width: 600px;
   position: relative;
   padding-bottom: 40px;
 }

 .timeline {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   margin: 20px 0;
 }

 .timeline .progress-bar {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 20px;
   background: var(--text-color-extra-light);
   width: 100%;
   border-radius: 20px;
 }

 .progress-fill {
   height: 100%;
   width: 0;
   background-color: var(--text-color);
   transition: width .3s ease;
   border-radius: 30px;
 }

 .timeline-step:after {
   clip-path: polygon(100% 50%, 79.34% 56.24%, 95.68% 70.34%, 74.27% 67.63%, 83.46% 87.16%, 65% 75.98%, 65.45% 97.55%, 53.14% 79.84%, 44.77% 99.73%, 40.73% 78.53%, 25% 93.3%, 29.93% 72.29%, 9.55% 79.39%, 22.59% 62.2%, 1.09% 60.4%, 20% 50%, 1.09% 39.6%, 22.59% 37.8%, 9.55% 20.61%, 29.93% 27.71%, 25% 6.7%, 40.73% 21.47%, 44.77% .27%, 53.14% 20.16%, 65.45% 2.45%, 65% 24.02%, 83.46% 12.84%, 74.27% 32.37%, 95.68% 29.66%, 79.34% 43.76%);
   content: "";
   width: 20px;
   height: 20px;
   background-color: var(--text-color);
   border-radius: 50%;
   cursor: pointer;
   transition: background-color .3s ease;
   left: 50%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .timeline-step {
   position: relative;
   display: flex;
   width: 24px;
   height: 24px;
   border-radius: 50%;
 }

 .timeline-step-label {
   position: absolute;
   top: 30px;
   font-size: var(--text-sm);
   font-weight: var(--heading-font-weight);
   width: max-content;
   color: var(--text-color);
   cursor: pointer;
   max-width: 80px;
   max-height: 60px;
   overflow: auto;
   line-height: normal;
 }

 .timeline-header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
 }

 .no-container .timeline-header-wrapper {
   padding: 0 15px;
 }

 .timeline-card .image-with-text-media-wrap {
   border-radius: var(--card-radius);
   overflow: hidden;
 }

 .timeline-header-wrapper .section-header {
   margin-bottom: 0;
 }

 .timeline-step.active:after {
   background: var(--highlight-text-color);
 }

 @media (max-width: 991px) {
   .image-with-text-wrapper [class*="image-position"] {
     width: 100%;
     max-width: 100%;
     flex: 100%;
     flex-direction: column;
   }

   .section-timeline-wrapper .image-position-right .image-with-text-content {
     padding-right: 20px;
   }

   .section-timeline-wrapper .image-position-left .image-with-text-content {
     padding-left: 20px;
   }

   .timeline-card {
     padding: 20px;
   }

   .timeline-header-wrapper {
     flex-direction: column;
     margin-bottom: 0;
   }

   .timeline-step-label {
     max-height: 50px;
   }
 }


 @media (max-width: 767px) {

   .section-timeline-wrapper .image-position-left .image-with-text-content,
   .section-timeline-wrapper .image-position-right .image-with-text-content {
     padding: 0;
     text-align: left;
   }

   .timeline-card {
     padding: 15px;
     gap: 20px;
   }

   .timeline-step-label {
     font-size: var(--text-xs);
     max-width: 50px;
     max-height: 30px;
   }

   .timeline-container {
     padding-bottom: 30px;
   }
 }